/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#table{
  width:70%;
  margin: auto;
}
#title{
  margin-right: 50 px;
}

.tftable {
  font-size:12px;
  background-color: #;
  background:url("assets/leopardskin.jpg");
  width:100%;
  border-width: 2px;
  border-color:#800080;
  border-collapse: collapse; 
}
.tftable th {
  font-size:12px;
  border-width: 2px;
  padding: 8px;
  border-style: solid;
  border-color: #800080;
  text-align:center;
  font-family: 'Rock Salt', cursive;
  color: #fff;
}
    
.tftable td {
  font-size:12px;
  padding: 8px;
  text-align:center;
}

#r1, #r3, #r5, #r7{
  background-color:#ff33cc;
}
#r2, #r4, #r6, #r8{
  background-color:#e495e4;
}
#tbtitle, #total{
  font-family: 'Rock Salt', cursive;
  text-align:right;
}
#totalnum{
  text-align:left;
}

